/*-------------------- PRELOADER --------------------*/
body{
	overflow: auto;
}
.page-loaded{
	overflow: auto;
	overflow-x: hidden;
	.preloader-cover{
		transition: .8s cubic-bezier(0.65, 0.05, 0.36, 1) .3s;
		opacity: 0;
		pointer-events: none;
	}
}
.home-dark{
	.preloader-cover{
		background-color: $bg_color_dark;
	}
}
.preloader-cover{
	z-index: 9999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 1;
}
@keyframes loader {
	0%, 10%, 100% {
		width: 80px;
		height: 80px;
	}
	65% {
		width: 150px;
		height: 150px;
	}
}
@keyframes loaderBlock {
	0%, 30% {
		transform: rotate(0);
	}
	55% {
		background-color: $accent_color;
	}
	100% {
		transform: rotate(90deg);

	}
}
@keyframes loaderBlockInverse {
	0%, 20% {
		transform: rotate(0);
	}
	55% {
		background-color: $accent_color;
	}
	100% {
		transform: rotate(-90deg);
	}
}
.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
	animation: loader 1.2s infinite ease-in-out;

	span {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background-color: $link_color;
		animation: loaderBlock 1.2s infinite ease-in-out both;

		&:nth-child(1) {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
		}
		&:nth-child(3) {
			bottom: 0;
			left: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
		}
		&:nth-child(4) {
			bottom: 0;
			right: 0;
		}
	}
}
/*----------------------- MENU -----------------------*/
header {
	background: #fff;
	min-height:50px;
	position:relative;
	width:100%;
	z-index: 10;
}
.nav-menu {
	width:100% !important;
	position: absolute;
	left: -100%;
	top: 100%;
	z-index: 3;
	background: #fff;
	height: calc(100vh - 50px);
	transition: .3s ease-in-out;
	opacity: 0;
	padding: 30px 0;
	&.active{
		left: 0;
		opacity: 1;
	}
}
@media (min-width:768px){
	.nav-menu{
		margin-top: 0;
		display:block !important;
		width:auto !important;
		position: relative;
		left: auto;
		top: auto;
		background-color: transparent;
		z-index: 0;
		height: auto;
		opacity: 1;
		padding: 0;
	}
}
.nav-list>li{
	position: relative;
	z-index: 9999;
}
.nav-list li.dropdown ul a li {
	font-family: "Roboto Condensed",sans-serif;
	text-transform: capitalize;
	letter-spacing: 0;
	text-decoration: none;
	padding: 0px 15px;
	font-size: 14px;
	color: #fff;
	opacity: .5;
	display: block;
}
.header-user, .header-cart{
	display: block;
	position: relative;
	padding: 0 10px;
	border-left: 1px solid #ebedec;
	line-height: 17px;
}
.nav-list>a{
	position: relative;
	text-decoration:none;
	>li{
		font-size:14px;
		text-decoration:none;
		padding:0 15px;
		line-height:29px;
		position: relative;
		font-weight: 400;
		letter-spacing: 0;
		position: relative;
		text-transform:uppercase;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition:all 0.35s ease;
		color: #65696C;
		font-family: $font_family;
		&:before{
			display: none;
		}
		i{
			margin-left: 5px;
			font-size: 12px;
		}
	}
	&:hover,
	&.active{
		a{
			color:$accent_color;
			i{
				color:$accent_color;
			}
		}
	}
}
.btn:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f007" !important;
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 50%;
	background-color: #ffd910;
	transform: unset!important;
	transition: unset;
}
@media (min-width:768px){
	.nav-list{
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: visible;
		max-height: none;
		>a{
			margin-left: 17px;
			&:first-child{
				margin-left: 0;
			}
			>li{
				padding: 0 5px;
				&:before{
					content: '';
					position: absolute;
					display: block;
					top: -28px;
					left: 50%;
					height: 3px;
					width: 0;
					transform: translate(-50%,0);
					background-color: $accent_color;
					transition: .35s ease;
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
			}
		}
	}
}
.nav-list li.dropdown ul{
	background-color: transparent;
	min-width: 100%;
	display: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	li{
		text-align: left;
		&.active{
			a{
				color: $accent_color;
				opacity: 1;
			}
		}
		a{
			font-family: $font_family;
			text-transform: capitalize;
			letter-spacing: 0;
			text-decoration: none;
			padding: 0px 15px;
			font-size: 14px;
			color: #fff;
			opacity: .5;
			display: inline-block;
			&:hover{
				opacity: 1;
			}
		}
	}
}
@media (min-width:768px){
	.nav-list li.dropdown ul{
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
		background-color: $primary_color;
		padding: 15px 0 !important;
		display: block !important;
		border-radius: $border_radius;
		left: 0;
		position: absolute;
		top: 100%;
		margin-top: 0;
		min-width: 180px;
		transition: all 0.3s ease-in;
		opacity: 0;
		pointer-events: none;
		transform: translateY( 30px );
	}
	.nav-list li.active ul{
		pointer-events: auto;
		transition-timing-function: ease-out;
		opacity: 1;
		transform: translateY( 0px );
	}
	.nav-list li.dropdown ul li{
		display: block;
	}
}
.nav-btn{
	display:block;
	height:42px;
	position:absolute;
	right:0;
	top:0;
	width:60px;
	padding:6px 15px;
	display: block;
	z-index:4;
	overflow:hidden;
	text-align: right;
}
@media (min-width:768px){
	.nav-btn{
		display:none;
	}
}
.nav-btn span{
	background-color: $title_color;
	height:2px;
	width:100%;
	display:block;
	margin:6px 0;
	position:relative;
	transition:all 0.4s ease, visibility 0.1s ease;
}
.nav-btn.active span{
	height: 2px;
	transform-origin:0;
}
.nav-btn.active span:first-child{
	transform:rotate(45deg);
	top: -3px;
	right: -6px;
}
.nav-btn.active span:last-child{
	transform:rotate(-45deg);
	right: -6px;
	top: 2px;
}
.nav-btn.active span:nth-child(2){
	visibility:hidden;
}
body.no-scroll{
	overflow: hidden;
}

.logo{
	display: flex;
	img{
		max-width: 230px;
	}
}

/*------------------- HEADER-DARK -------------------*/
.header-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	.top-panel-cover{
		border-color: rgba(255, 255, 255, 0.2);
		.icon-right-list{
			li a{
				&:hover{
					i{
						color: $color_green;
					}
				}
			}
		}
		.icon-right-list .header-like span{
			background-color: $color_green;
			color: #fff;
		}
	}
	.top-panel-left,
	.top-panel-center,
	.top-panel-right{
		width: 33.33%;
		display: flex;
	}
	.top-panel-left{
		.header-cont{
			a{
				color: $secondary_color;
				i{
					color: $color_green;
				}
				&:hover{
					color: $color_green;
				}
			}
		}
	}
	.top-panel-center{
		justify-content: center;
		.logo{
			img{
				display: block;
				max-height: 38px;
			}
		}
	}
	.top-panel-right{
		justify-content: flex-end;
	}
	.nav-list>a{
		>li{
			font-size: 14px;
			color: #fff;
			i{
				color: #fff;
			}
			&:before{
				background-color: $color_green;
			}
		}
	}
	.nav-list li.dropdown ul li.active a{
		color: $color_green;
	}
}
.header-two-search{
	display: flex;
	justify-content: flex-end;
	position: relative;
	form.subscribe-form{
		transition: .3s ease;
		opacity: 0;
		z-index: -1;
		min-width: 0;
		width: 0;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: 17px;
		overflow: hidden;
		pointer-events: none;
		.inp-form{
			border-color: rgba(255,255,255,.4);
			color: #fff;
			&:hover,
			&:focus{
				border-color: $color_green;
			}
		}
		.btn-form{
			color: $color_green;
			&:hover{
				color: $color_orange;
			}
		}
	}
	&.active{
		form.subscribe-form{
			width: 470px;
			min-width: 470px;
			opacity: 1;
			z-index: 2;
			pointer-events: auto;
		}
	}
	.header-search-icon{
		padding: 5px 0;
		width: 44px;
		text-align: right;
		cursor: pointer;
		transition: .3s ease;
		color: $color_green;
		font-size: 20px;
		&:hover{
			opacity: .6;
		}
	}
}
/*-------------------- TOP PANEL --------------------*/
.top-panel{
	margin-bottom: 0;
}
.top-panel-cover{
	padding: 15px 0;
	border-bottom: 1px solid #ebedec;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.icon-right-list{
		display: flex;
		align-items: center;
		margin-right: -10px;
		li{
			&:first-child{
				a{
					border-left: none;
				}
			}
			a{
				display: block;
				position: relative;
				padding: 0 10px;
				border-left: 1px solid #ebedec;
				line-height: 17px;
				&:hover{
					i{
						color: $accent_color;
					}
				}
			}
		}
		.header-like{
			position: relative;
			span{
				position: absolute;
				top: -4px;
				right: 0;
				text-align: center;
				line-height: 17px;
				width: 17px;
				font-size: 11px;
				padding-left: 1px;
				font-weight: 400;
				text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
				color: $title_color;
				border-radius: 50%;
				background-color: $accent_color;
			}
		}
	}
}
.header-cont{
	display: flex;
	align-items: center;
	font-size: 16px;
	li{
		margin-right: 42px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: $title_color;
			i{
				color: $accent_color;
			}
			&:hover{
				color: $accent_color;
			}
		}
	}
	i{
		margin-right: 13px;
		font-size: 17px;
		&.fa-phone{
			font-size: 20px;
			transform: rotateY(180deg);
			position: relative;
			top: 2px;
		}
	}
}
/*------------------- HEADER-MENU -------------------*/
.header-menu{
	padding: 18px 0;
	.container{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

/*----------------- S-HEADER-TITLE -----------------*/

/*
.s-header-title{
	background-color: $title_color;
	min-height: 200px;
	padding: 30px 0 45px !important;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		//background-image: url(../img/bg-effect-header.svg);
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $bg_color;
		z-index: 3;
		clip-path: polygon(100% 0, 0 100%, 100% 100%);
	}
	.container{
		position: relative;
		z-index: 2;
	}
	h1{
		color: $accent_color;
		line-height: 1.2em;
	}
}
.breadcrambs{
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	li{
		margin-right: 10px;
		&:after{
			content: '/';
			margin-left: 10px;
		}
		&:last-child{
			margin-right: 0;
			&:after{
				display: none;
			}
		}
		a{
			color: #fff;
			&:hover{
				color: $accent_color;
			}
		}
	}
}
*/
@media(max-width: 1280px){
	.header-menu {
		padding: 10px 0;
	}
	.nav-list>li {
		margin-left: 20px;
		>a{
			&:before{
				top: -20px;
			}
		}
	}
	.header-cont li {
		margin-right: 30px;
	}
	.nav-list li.dropdown ul{
		margin-top: 18px;
	}
}
@media(max-width: 1199px){
	.nav-list>li {
		margin-left: 10px;
		>a{
			font-size: 14px;
			i{
				margin-bottom: 0;
			}
		}
	}
}
@media(max-width: 991px){
	.nav-list>li{
		margin-left: 10px;
		>a {
			font-size: 14px;
		}
	}
	.logo{
		img{
			max-width: 150px;
		}
	}
	.header-cont i {
		margin-right: 8px;
	}
	.top-panel-cover {
		padding: 12px 0;
	}
	.nav-list li.dropdown ul{
		min-width: 150px;
	}
}
@media(max-width: 767px){
	.top-panel-cover .nav-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-right: -10px;
		padding-bottom: 0;
	}
	.nav-menu{
		overflow-y: auto;
	}
	.header-cont{
		display: none;
	}
	.nav-list{
		padding-bottom: 30px;
	}
	.nav-list>li {
		margin-left: 0;
	}
	.nav-list>a{
		&:last-child{
			>li{
				margin-bottom: 0;
			}
		}
		>li {
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 5px;
			i{
				font-size: 16px;
				margin-bottom: 6px;
			}
		}
	}
	.nav-list li.dropdown ul{
		width: 100% !important;
		padding: 10px 0;
		margin-top: 0;
		margin-bottom: 8px;
		li{
			text-align: left;
		}
	}
	.header-menu .container{
		justify-content: center;
	}
	.page-error .name {
		font-size: 80px;
	}
	.header-dark .top-panel-left{
		display: none;
	}
	.top-panel-cover{
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.header-dark .top-panel-right{
		justify-content: flex-start;
	}
	.header-dark{
		.nav-menu {
			top: 0;
			background: #161616;
			height: 100vh;
			padding: 50px 0;
		}
		.nav-btn{
			top: 7px;
			span{
				background-color: #fff;
			}
		}
		.header-menu .container{
			justify-content: flex-end;
		}
		.header-menu{
			padding: 0;
		}
	}
	.header-two-search form.subscribe-form{
		margin-top: 5px;
	}
	.nav-list li.dropdown ul li a{
		color: #65696C;
		opacity: 1;
		padding-left: 25px;
		&:hover{
			color: $accent_color;
		}
	}
}
@media(max-width: 575px){
	.header-dark{
		.logo img {
			max-width: 78px;
		}
		.top-panel-cover .icon-right-list li a{
			padding: 0 7px;
		}
		.nav-btn{
			top: 4px;
		}
	}
}

//JELENA

.btn-form::before {
	content: '' !important;
}
.authent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin-top: 140px;
    &_genForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1.5;
        text-align: center;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        height: 100%;
		background-color: white;
		/*box-shadow: 0px 0px 14px rgba(0.5, 0, 0, 0.5);*/
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		}
    &_img-backg{
        flex: 1;
        text-align: center;
        height: 100%;
        background-repeat: round;
        background-size: cover;
        background-color: gray;
        background-image: url("https://images.unsplash.com/photo-1536880411027-5ffdd818d3d0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDJ8fHBlb3BsZSUyMGJpa2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    }
}

.labelForm{
padding-bottom: 50px !important;
padding-top: 122px !important;
}


.fav-user::before {
content: '\f007';
}
.fav-pass::before {
content: '\f023';
}
.fav-mail::before{
content: '\f0e0';
}
.form-container{
    width: 400px;
    padding: 20px;

    .false-reg{
        color: red;
        border: 1 px solid red;
    }
    .cpy-input-container {
        position: relative;

        &::before {
            position: absolute;
            font-family: 'FontAwesome';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            color: #9ca4ab;
            top: 16px;
            left: 16px;
        }
        .cpy-input {
            display: block;
            width: 100%;
            height: 50px;
            padding: 10px 10px 10px 42px;
            font-family: "Roboto Condensed",sans-serif;
            font-size: 16px;
            line-height: 18px;
            color: #65696C;
            background-color: transparent;
            font-weight: 400;
            -webkit-transition: .35s ease;
            transition: .35s ease;
            border-radius: 0;
            letter-spacing: 0.05em;
            border: 2px solid #ebedec;

            &:hover {
                box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
                border-color: rgba(255,217,16,0.6);
            }
            &:focus {
                box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
                border-color: rgba(255,217,16,0.6);
            }
        }
    }

    .oth-option{
        padding-top: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .link-txt{
            color: #ffd910;
            &:hover{
                text-decoration: underline;
                text-decoration-color: #f7aa06;
                color:#f7aa06;
            }
        }
      }
}
.btn-cont  {
	button{
		&::before{
			content: '' !important;
		}
	
	}
}

.btn-cont{
    padding-top: 10;
    display: flex;
    justify-content: center;
    
    
    .btn-txt{
        z-index: 1000;
        position: relative;
    }
    .btn-form{
        margin-left: 10px;
        }
    .btn{
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        background-color: transparent;
        padding: 12px 32px 10px;
        font-weight: 700;
        -webkit-transition: .35s ease;
        transition: .35s ease;
        color: #192330;
        min-width: 140px;
        border: 2px solid #ffd910;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        font-size: 16px;
        letter-spacing: 0.1em;
        font-family: "Roboto Condensed",sans-serif;
        overflow: hidden;
        position: relative;
        padding: 0px 30px;
        height: 50px;
        
    
        &:hover {
            color: #192330;
            &::before {
                width: 130% !important;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 50%;
            -webkit-transition: .35s ease;
            transition: .35s ease;
            background-color: #ffd910;
            -webkit-transform: translate(-50%, 0) skew(25deg);
            transform: translate(-50%, 0) skew(25deg) !important;
        }  
    }
}

button {
    appearance: button;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
/*CONTACT*/

.s-header-title {
    background-color: #192330;
    min-height: 200px;
    padding: 30px 0 42px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("https://html.rovadex.com/html-creto/assets/img/bg-effect-header.svg");
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h1 {
        color: #ffd910;
        line-height: 1.2em;
        font-size: 76px;//dodato
        font-family: "Teko",sans-serif !important;
        font-weight: 600;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    .breadcrambs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        color: #fff;
        list-style: none;

        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #fff;
                &:hover{
                    text-decoration: none;
                    color: #ffd910;
                }
                &::after {
                    content: '/';
                    margin-left: 10px;   
                    color: white;
                }
            }
            
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background-color: #fafafa;
        z-index: 3;
        -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1367px){
    .container {
        max-width: 1356px;
    }
}

/*1*/
.contacts-top {
    padding-top: 150px;

    &-cover {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contact-img img {
    display: block;
    width: 100%;
}
.contact-info {
    .title {
        margin-bottom: 26px;
        margin-top: 26px;
        
    }
    p {
        margin-top: 27px;
    }
    .social-list {
        margin-top: 50px;
        li {
            font-size: 20px;
        }
    }
}
.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    padding-left: 0px;

    li {
        margin-right: 24px;
        a {
            display: block;
            text-align: center;
        }
    }
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &-facebook{
        &:before {
            content: "\f09a";
        }
    }
    &-twitter:before {
        content: "\f099";
    }
    &-instagram:before {
        content: "\f16d";
    }
    &-youtube-play:before {
        content: "\f16a";
    }
}
/*2*/
.s-contacts {
    padding: 150px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.1)  ;
    .container{
        position: relative;
    }
    .title {
        text-align: center;
        margin-bottom: 61px;
    }
    .form-cover {
        max-width: 1170px;
        margin: 0 auto;
    }
    &-block {
        margin-top: 150px;
        .contact-block-item {
            height: 100%;
            background-color: #fff;
            border-radius: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            text-align: center;
            -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
            padding: 20px 0;
        }
        .contact-block-left {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 38%;
            padding: 0 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 2px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background-color: #ebedec;
                height: 100%;
            }
            h6 {
                margin-top: 16px;
            }
        }

        .contact-block-right {
            width: 62%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 20px;

            ul{
                text-decoration: none;
                list-style-type: none;
                margin-top: 0; 
                margin-bottom: 0;
                padding-left: 0; 
                
                a {
                    text-decoration: none;
                    color: #535b65;
                    -webkit-transition: .35s ease;
                    transition: .35s ease;

                    &:hover{
                        text-decoration: none;
                        color: #ffd910;
                    }
                }
            }
        }
    }
}
/*3*/
.form-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
        margin-bottom: 30px;
        position: relative;
        &:before {
            pointer-events: none;
        }
    }
}
.cpy-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 10px 10px 42px;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #65696C;
    background-color: transparent;
    font-weight: 400;
    -webkit-transition: .35s ease;
    transition: .35s ease;
    border-radius: 0;
    letter-spacing: 0.05em;
    border: 2px solid #ebedec;

    &:hover {
        box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
        border-color: rgba(255,217,16,0.6);
    }
    &:focus {
        box-shadow: 0px 0px 14px rgba(0,0,0,0.1);
        border-color: rgba(255,217,16,0.6);
    }
}
.inp-name:before {
    content: '\f007';
}
.inp-phone:before {
    content: '\f095';
}
.inp-email:before {
    content: '\f0e0';
}
.inp-text:before {
    content: '\f086';
    top: 16px;
}
.inp-text {
    width: 100% !important;
    &::before{
        position: absolute;
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #9ca4ab;
        top: 16px;
        left: 16px;

    }
    textarea {
        height: 184px !important;
        padding-top: 16px i !important;
    }
    
}
.inp-name, .inp-phone, .inp-email {
    width: calc(33.33% - 20px);
    &::before{
        position: absolute;
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #9ca4ab;
        top: 16px;
        left: 16px;
    }
}    

footer {
    padding-top: 108px;
    background-color: #fff;
    &-item-cover {
        &:first-child{
        margin-bottom: 58px;
        }
    }
    &-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap !important;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between impo !important;
    
        li {
            width: calc(50% - 15px)  !important;
            margin-bottom: 13px !important;
            &:last-child {
                margin-bottom: 0 !important;
            }   
        }
    }
    h6 {
        margin-bottom: 26px;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Roboto Condensed",sans-serif !important;
    }
    .subscribe-form {
        margin-top: 22px;
        max-width: 648px;
    }
    
    .social-list {
        margin: -7px 0 10px;
    }
    &-autor {
        color: #9ca4ab;
        a {
            text-decoration: underline;
        }
    }
    &_bottom {
        padding: 50px 0;
        margin-top: 70px;
        color: #9ca4ab;
        border-top: 1px solid #dbdbdb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &-pay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .fa-at:before {
        content: "\f0e0";
    }
    
}

.subscribe-form {
    position: relative;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    i {
        position: absolute;
        top: 48%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 18px;
        z-index: 2;
        font-size: 17px;
        pointer-events: none;
        color: #9ca4ab;
    }

    .inp-form {
        max-width: 498px;
    }
}

.inp-form {
    background-color: transparent;
    border-radius: 0;
    display: block;
    border: 2px solid #dbdbdb;
    -webkit-transition: .35s ease;
    transition: .35s ease;
    color: #9ca4ab;
    font-size: 16px;
    width: 100%;
    max-width: 323px;
    padding: 0 20px 0 44px;
    font-weight: 700;
}

//Added code
//Header
.header{
	position: fixed;
	top: 0;
}
.btn:before {
	content: ''!important;
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0!important;
	-webkit-transition: .35s ease;
	transition: .35s ease;
	background-color: #ffd910;
	-webkit-transform: translate(-100%, 0) skew(
									25deg
	);
	transform: translate(-100%, 0) skew(
									25deg
	);
	cursor: pointer;
}
.btn span{
	cursor: pointer;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.s-single-product label{
	font-weight: 600;
	margin-bottom: 5px;
}
.amounts{
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	background-color: #ffd910;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	color: #192330;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -8px;
	top: -5px;
}

.basket-count, .basket-price{
	font-weight: 600;
	color: #192330;
}
.categories{
	padding-left: 22px;
	margin-bottom: 8px;
	span{
		text-transform: capitalize;

	}
}

.categories.active span{
	color: #ffd910;
}

.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100px;
	height: auto;
}

.table-bordered .row{
	margin-bottom: 15px;
}
.table-bordered .table-heading .row:first-child{
	font-size: 16px;

}

.table-bordered .col-md-2, .table-bordered .col-md-4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa-trash{
	color: #192330;
}

.table-responsive{
	padding-top: 30px;
	padding-bottom: 30px;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

//Basket
.continue{
	font-weight: 600;
	margin-bottom: 50px;
	text-decoration: underline;
}
.to-basket {
	font-weight: 600;
	margin-bottom: 50px;
	text-decoration: underline;
}
.empty{
	padding-top: 150px;
	padding-bottom: 50px;
}
.basket-count{
	padding-top: 50px;
	padding-bottom: 50px;
}
.caption{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #192330;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	h5{
		padding-top: 0;
		color: #fff;
	}
}
.overtaking{
	margin-top: 15px;
}
.table-bottom{
	margin-top: 50px;
}
.total-table .btn{
	margin-top: 30px;
	float: right;
}
.checkout{
	margin-top: 140px;
	padding-top: 70px;
	padding-bottom: 50px;
}
.checkout-form-caption{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #192330;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	h5{
		color: #fff;
	}
}
.notification-error{
	margin-bottom: 30px;
}
button[disabled] span{
	cursor: not-allowed;
}
.category-name{
	text-transform: capitalize;
}
.checkout-total-caption{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #192330;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	h5{
		color: #fff;
	}
}
.checkout-total-details{
	color: #192330;
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebedec;
}
.s-header-title {
	margin-top: 140px;
}
.total-table{
	border-top: 1px solid #ebedec;
	padding-top: 20px;
}
.total-products{
	display: flex;
	align-items: center;
}
.clean-basket{
	margin-top: 30px;
}
.single-quanity input{
	background-color: transparent;
	border-radius: 0;
	border: 2px solid #dbdbdb;
	transition: .35s ease;
	color: #9ca4ab;
	font-size: 16px;
	width: 100%;
	max-width: 100px;
	padding: 10px 20px 10px 20px;
	font-weight: 700;
}
input[type=number]::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	moz-appearance: textfield;
}
input[type=number] {
	-moz-appearance:textfield !important;
}
.single-quanity span{
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
.single-quanity input{
	color: #535b65;
}
.fa-trash{
	cursor: pointer;
}
.team-item img{
	height: 750px!important;
}
.our-advantages-item {
	width: calc(33% - 22px) !important;
}
.advantages{
	width: 100%;
}
.bike-rental-wrapper{
	margin-top: 50px;
}

.dugme{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	background-color: transparent;
	padding: 12px 32px 10px;
	font-weight: 700;
	-webkit-transition: .35s ease;
	transition: .35s ease;
	color: #192330;
	min-width: 140px;
	border: 2px solid #ffd910;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
	font-size: 16px;
	letter-spacing: 0.1em;
	font-family: "Roboto Condensed",sans-serif;
	overflow: hidden;
	position: relative;
	padding: 0px 30px;
	height: 50px;
	

	&:hover {
		color: #192330;
		&::before {
			width: 130% !important;
		}
	}
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		left: 50%;
		-webkit-transition: .35s ease;
		transition: .35s ease;
		background-color: #ffd910;
		-webkit-transform: translate(-50%, 0) skew(25deg);
		transform: translate(-50%, 0) skew(25deg) !important;
	}  
}


















